GEMINI_API_KEY=

# 1. Clé pour le Hachage (Génère le pseudonyme PAT-XXXXXX)
PSEUDO_PEPPER=

# 2. Clé pour le Chiffrement (Verrouille les PII)
ADMIN_CIPHER_KEY=

# 3. Configuration de la base de données
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

